@import 'tailwindcss';
/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;


@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: rgba(255, 255, 255, 0.6);
  --color-primary-hover: #9f0712;
  --color-secondary: #1C1C1C;
  --color-secondary-hover: rgba(255, 255, 255, 0.03);
  --color-middle: #1C1C1C; //  gray in the middle  
  --color-middle-active: rgba(255, 255, 255, 0.1);
}

html,body, #root {
    height: 100%;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}